.navbar-brand {
  font-weight: bold;
}
.nav-link {
  font-size: 1.1rem;
}
img.card-food{
width: 100% ;
height: 300px ;
object-fit:cover ;
justify-content:center ;

}
.card-title {
  color: #333;
  font-weight: bold;
}
.list-group-item {
  background-color: #f8f9fa;
}
.form-control {
  max-width: 500px;
  margin: 0 auto;
}
.text-center p {
  color: #6c757d;
  font-style: italic;
}
.btn-danger,
.btn-outline-danger {
  font-size: 0.9rem;
}
.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-outline-danger:hover {
  background-color: #f8d7da;
}